/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
}

.logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav h1 {
  font-family: 'Playfair Display', serif;
  color: white;
  margin: 0;
}

/* Categories */
#categories {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

#categories ul {
  list-style: none;
  padding: 0;
}

#categories ul li {
  display: inline;
  margin: 10px;
  padding: 10px;
  background-color: #8B4513;
  color: white;
  cursor: pointer;
}

#categories ul li:hover {
  background-color: #4CAF50;
}

/* Products */
#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product-category {
  display: none;
  margin: 10px;
}

.product-category h3 {
  font-family: 'Playfair Display', serif;
  color: #4CAF50;
}

.product {
  text-align: center;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 150px;
}

.product img {
  max-width: 100%;
  border-radius: 8px;
}

.product p {
  margin: 5px 0;
  color: #4CAF50;
}
